@import 'tailwindcss';
@source '../**/*.{js,ts,jsx,tsx}';
@import 'tw-animate-css';

/* Custom utility: hide scrollbar */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
